
.center-flex-container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.name {
  font-size: small;
}

.email {
  font-size: small;
}

.description {
  font-size: small;
}

.flex-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-edit {
  text-decoration: none;
  border: solid 1px;
  border-color: blue;
  background-color: blue;
  color: white;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}