.center-profile-edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-profile-edit {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  width: 250px;
}

.profile-edit-button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid blue;
}

.profile-edit-name-input {
  border: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.profile-edit-email-input {
  border: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.profile-edit-image-input {
  border: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.img-48-profile-edit-center {
  display: flex;
  justify-content: center;
}

.img-48-profile-eidt {
  border: solid 1px burlywood;
  border-radius: 30px 30px 30px 30px;
}

.profile-edit-loading-center {
  display: flex;
  justify-content: center;
}

.profile-edit-loading {
  margin-top: 25px; 
  font-size: 25px
}
