.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
}

.loading {
  text-align: center; 
  margin-top: 25px; 
  font-size: 25px
}

.found {
  font-size: 25px;
  color: rgb(19, 29, 19);
}

.notFound {
  font-size: 25px;
  text-align: center;
  color: rgb(19, 29, 19);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  
}

.child {
  margin: 10px;
  width: 200px;
}

.link {
  text-decoration: none;
}

/* img {
  width: 100px;
} */

.album {
  font-size:medium;
}

.artist {
  font-size: small;
}
