.flex-container-music {
  display: flex;
  flex-direction: row;
  /* justify-content:space-between; */
}
.child {
  width: 200px;
  margin-right: 10px;
}

.label {
  width: 200px;
  margin-left: 10px;
}

.checked {
  appearance: none;
}


